body {
    text-align: center;
    background:radial-gradient(red,blue);
}

h1 {
    font-family: Helvatica;
    font-size: 70px;
    margin: 0.2em;
    border:5px dotted black;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 30px;
}

td {
    width: 30px;
}

td.transparent{
    background: transparent;
}

input[type=number] {
    width: 6em;
}